.advantage {
  background-color: #ffffff;
  text-transform: uppercase;
  line-height: 26px;
}

.advantage__preamble {
  padding: 43px 25px 29px;
  text-align: center;
}

.advantage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  font-size: 18px;
  font-weight: 700;
}

.advantage__text {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}