.advantage {
  background-color: $white;
  text-transform: uppercase;
  line-height: 26px;
}

.advantage__preamble {
  width: 260px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 22px;
  text-align: center;
}

.advantage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  font-size: 18px;
  font-weight: 700;
}

.advantage__text {
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .advantage__preamble {
    width: 500px;
  }

  .advantage__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantage__preamble {
    width: 500px;
  }

  .advantage__list {
    width: 1200px;
  }
}
