.attractions__list {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  padding-bottom: 4px;
  list-style: none;
}

.attractions__item {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 40px;
}

.attractions__label {
  position: relative;
  display: block;

  padding: 7px 0 7px 72px;
  text-transform: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 56px;
    height: 56px;

    background-color: #f2f2f2;
    border-radius: 5px;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }
}

.attractions__input:checked + .attractions__label::after {
  content: "";
  display: block;
  position: absolute;

  top: 20px;
  left: 18px;

  width: 25px;
  height: 19px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.attractions__input:checked + .attractions__label:active::after {
  opacity: 0.3;
}

.attractions__input:focus + .attractions__label::before {
  background-color: $grey;
  border: 4px solid $grey;
}

.attractions__input:disabled + .attractions__label::before {
  background-color: $white;
  border: 4px solid $black-10;
}

@media (min-width: $tablet-width) {
  .attractions__title {
    width: 648px;
    padding: 0 170px;
    margin-bottom: 45px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 127px;
      height: 1px;

      top: 22px;
      background-color: $grey;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .attractions__list {
    margin: 0 auto;
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .attractions__item {
    display: block;
    width: 250px;

    margin-bottom: 47px;
    padding-left: 27px;
  }
}

@media (min-width: $desktop-width) {
  .attractions__title {
    width: 960px;
    padding: 0 340px;

    &::before,
    &::after {
      width: 280px;
      height: 1px;
    }
  }

  .attractions__list {
    width: 960px;
  }

  .attractions__item {
    padding: 0;
    width: 200px;
  }
}
