.button {
  font-family: inherit;
  background-color: $light-grey-blue;
  color: $white;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  overflow: visible;

  &:hover {
    background-color: $middle-grey-blue;
  }

  &:active {
    background-color: $dark-grey-blue;
    color: $white-30;
  }

  &:disabled,
  &--disabled {
    background-color: $grey;
  }
}
