.emotions {
  border-bottom: none;
  margin-top: 10px;
  margin-bottom: 23px;
}

.emotions__title {
  padding: 0;
  margin: 0 auto 16px;
}

.emotions__text {
  margin: 0;
  margin-top: 0;
  padding-bottom: 25px;
  list-style: none;

  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.emotions__message {
  display: block;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  min-height: 160px;

  resize: vertical;

  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;

  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    opacity: 1;

    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .emotions {
    padding-bottom: 12px;
  }

  .emotions__title {
    width: 648px;
    margin-top: 20px;
    margin-bottom: 56px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 127px;
      height: 1px;

      top: 14px;
      background-color: $grey;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .emotions {
    margin-top: 10px;
    margin-bottom: 39px;
  }

  .emotions__title {
    width: 960px;

    &::before,
    &::after {
      width: 280px;
      height: 1px;
    }
  }

  .emotions__text {
    padding: 0;
  }
}
