.form-search {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.form-search__wrapper {
  margin-top: 25px;
  margin-bottom: 49px;
  padding: 0 20px;
}

.form-search__question {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.form-search__phrase {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 37px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.form-search__hidden {
  display: none;
}

.form-search__button {
  padding: 15px 42px 16px;
}

.form-search__wrapper-map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;

  &::after {
    content: "";
    position: absolute;
    top: 161px;
    left: 145px;
    width: 27px;
    height: 27px;
    background-image: url("../img/icon-map-marker.svg");
    z-index: 5;
  }
}

.form-search__active-map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  right: 440px;
}

@media (min-width: $tablet-width) {
  .form-search__wrapper {
    max-width: 468px;
    padding: 0;
    margin: 57px auto;
  }

  .form-search__question {
    font-size: 30px;
  }

  .form-search__phrase {
    margin-top: 24px;
  }

  .form-search__hidden {
    display: inline;
  }

  .form-search__button {
    padding: 17px 136px 19px;
  }

  .form-search__map {
    width: 768px;
  }

  .form-search__wrapper-map {
    &::after {
      left: -216px;
    }
  }

  .form-search__active-map {
    right: 216px;
  }
}

@media (min-width: $desktop-width) {
  .form-search__wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .form-search__phrase {
    margin-top: 25px;
    margin-bottom: 44px;
  }

  .form-search__map {
    width: 1200px;
  }

  .form-search__wrapper-map {
    &::after {
      left: 586px;
    }
  }

  .form-search__active-map {
    right: 0;
  }
}
