.page-form {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: $dark;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.page-form__inscription {
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid $grey;
}

.page-form__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.page-form__description {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 18px;
}

.page-form__button {
  display: block;
  padding: 16px 49px;
  margin: 0 auto;
}

.page-form__required {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-form {
    margin-bottom: 72px;
  }

  .page-form__inscription {
    margin-top: 74px;
    margin-bottom: 54px;
    max-width: 440px;
    border-bottom: none;
  }

  .page-form__title {
    margin: 0;
    margin-bottom: 34px;
    font-size: 30px;
  }

  .page-form__send-wrapper {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  .page-form__required {
    display: block;
    font-size: 14px;
    text-align: right;
    color: $dark;
  }

  .page-form__button {
    margin: 0;
    padding: 14px 71px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    margin-bottom: 92px;
  }

  .page-form__send-wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .page-form__button {
    margin: 0;
    padding: 15px 149px;
  }
}
