.page-form {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: $dark;
  text-transform: uppercase;
}

.page-form__inscription {
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.inscription__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.inscription__description {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 22px;
}

.page-form__button {
  display: block;
  padding: 16px 47px;
  margin: 0 auto;
}

.page-form__required {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-form__inscription {
    max-width: 440px;
    border-bottom: none;
  }

  .inscription__title {
    font-size: 30px;
  }

  .page-form__send-wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .page-form__required {
    display: block;
    font-size: 14px;
    text-align: right;
    color: $dark;
  }

  .page-form__button {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-form__send-wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
