.page-photo {
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .page-photo {
    width: 648px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-photo {
    width: 1200px;
  }
}
