.reasons {
  background-color: $white;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.reasons__item {
  padding: 0;
  margin: 0;
  background-color: $bg-grey;

  &--city,
  &--bridge {
    background-color: $light-grey-blue;
    color: $white;
  }
}

.reasons__preamble {
  display: block;
  margin: 0 auto;
  width: 270px;
}

.reasons__title {
  margin: 0;
  padding-top: 42px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.reasons__number {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reasons__description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 20px;
  padding-bottom: 42px;
}

.reasons__photo {
  display: block;
  width: 100%;
}

.reasons__sublist {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .reasons__wrapper {
    display: flex;

    &--bridge {
      flex-direction: row-reverse;
    }
  }

  .reasons__item {
    width: 256px;

    &--city,
    &--bridge {
      width: 768px;
    }
  }

  .reasons__title {
    max-width: 125px;
    display: block;
    margin: 0 auto;
  }

  .reasons__preamble {
    width: 170px;
  }

  .reasons__photo {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .reasons__item {
    width: 400px;

    &--city,
    &--bridge {
      width: 1200px;
    }
  }

  .reasons__preamble {
    width: 270px;
  }

  .reasons__photo {
    width: 800px;
    height: 256px;
  }
}
