.reasons {
  background-color: $white;
  margin: 0;
  margin-top: -19px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.reasons__item {
  padding: 0;
  margin: 0;
  background-color: $bg-grey;

  &--city,
  &--bridge {
    background-color: $light-grey-blue;
    color: $white;
  }
}

.reasons__preamble {
  display: block;
  margin: 0 auto;
  width: 270px;

  &--square,
  &--road {
    border-bottom: 1px solid $black-10;
  }
}

.reasons__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &--city {
    padding-top: 61px;
  }

  &--bridge {
    padding-top: 42px;
  }
}

.reason__wrap {
  display: none;
}

.reasons__number {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reasons__description {
  padding: 0;
  margin: 0 auto;
  max-width: 250px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 14px;
  padding-bottom: 29px;

  &--city,
  &--bridge {
    padding-bottom: 42px;
    max-width: 270px;
  }
}

.reasons__photo {
  display: block;
  width: 100%;
}

.reasons__sublist {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .reasons__wrapper {
    display: flex;

    &--bridge {
      flex-direction: row-reverse;
    }
  }

  .reasons__item {
    width: 256px;

    &--city,
    &--bridge {
      width: 768px;
    }
  }

  .reasons__title {
    max-width: 160px;
    font-size: 21px;
    padding-top: 45px;
    display: block;
    margin: 0 auto;
  }

  .reason__wrap {
    display: inline;
  }

  .reasons__description {
    margin: 0;
    margin-bottom: 18px;
    padding-top: 21px;

    &--city,
    &--bridge {
      margin: 0;
      padding-top: 19px;
    }
  }

  .reasons__preamble {
    width: 170px;
    border-bottom: none;
  }

  .reasons__photo {
    display: block;
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .reasons__item {
    width: 400px;

    &--city,
    &--bridge {
      width: 1200px;
    }
  }

  .reasons__preamble {
    width: 256px;
  }

  .reasons__title {
    padding-top: 55px;

    &--square,
    &--road,
    &--few {
      padding-top: 50px;
    }
  }

  .reasons__description {
    margin: 0;
    margin-bottom: 27px;
    padding-top: 21px;

    &--city,
    &--bridge {
      margin: 0;
      padding-top: 19px;
    }
  }

  .reasons__photo {
    width: 800px;
    height: 256px;
  }
}
