.social {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.social__item {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-color: $light-grey-blue;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  font-size: 0;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .social {
    width: 256px;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 400px;
  }
}
