.social {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.social__item {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-color: $light-grey-blue;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  font-size: 0;
  text-decoration: none;

  fill: $white;
  height: 14px;

  &--twitter {
    width: 18px;
    padding: 17px 15px;
  }

  &--facebook {
    width: 9px;
    height: 18px;
    padding: 14px 19px;
  }

  &--youtube {
    width: 20px;
    padding: 17px 13px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 256px;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 400px;
  }
}
