.sublist {
  margin: 0;
  padding: 15px 42px 10px 21px;
  background-color: $white;
  text-align: left;
}

.sublist__item {
  position: relative;
  padding-left: 47px;
  margin-bottom: 27px;
}

.sublist__icon {
  position: absolute;
  fill: $light-grey-blue;

  &--house {
    top: -9px;
    left: 0;
    width: 37px;
    height: 36px;
  }

  &--gift {
    top: -9px;
    left: 3px;
    width: 32px;
    height: 38px;
  }

  &--burger {
    top: -3px;
    left: -1px;
    width: 40px;
    height: 35px;
  }
}

.sublist__title {
  margin-bottom: 12px;
  color: $black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.sublist__description {
  color: $dark;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .sublist {
    padding: 0;
    display: flex;
    text-align: center;
  }

  .sublist__item {
    width: 256px;
    padding: 64px 45px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--gift {
      order: 2;
    }

    &--burger {
      order: 1;
    }
  }

  .sublist__icon {
    display: block;
    position: relative;

    &--house {
      width: 75px;
      height: 72px;
    }

    &--gift {
      width: 64px;
      height: 75px;
    }

    &--burger {
      width: 77px;
      height: 68px;
    }
  }
}

@media (min-width: $desktop-width) {
  .sublist__item {
    width: 400px;
    margin-bottom: 47px;
  }
}
