.video__question {
  margin: 39px auto 25px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.video__phrase {
  padding: 0;
  margin: 0 auto 39px;
  width: 271px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.video__picture {
  background-color: $grey;
  width: 320px;
  height: 200px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.video__control {
  width: 280px;
  height: 111px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: -45px;
}

.video__scale {
  order: -1;
  display: block;
  min-width: 280px;
  height: 45px;
  background-color: $black-30;
}

@media (min-width: $tablet-width) {
  .video__question {
    font-size: 30px;
  }

  .video__phrase {
    width: 420px;
  }

  .video__picture {
    background-image: url("../img/video-tablet@1x.jpg");
    width: 648px;
    height: 499px;
  }

  .video__control {
    width: 648px;
    height: 93px;
    margin-top: -93px;
    align-items: center;

    &--replay {
      order: -1;
    }
  }

  .video__scale {
    order: 0;
    width: 389px;
  }
}

@media (min-width: $desktop-width) {
  .video__picture {
    background-image: url("../img/video-desktop@1x.jpg");
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }
}
