.video__question {
  margin: 32px auto 25px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.video__phrase {
  padding: 0;
  margin: 0 auto 39px;
  width: 271px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.video__picture {
  background-color: $grey;
  width: 320px;
  height: 200px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.video__control {
  position: relative;
  width: 280px;
  height: 66px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 24px;
  padding-right: 22px;

  background-color: $light-grey;
}

.video__button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &--replay {
    width: 16px;
    height: 20px;
    margin-top: -4px;
    margin-right: 133px;
  }

  &--subtitle {
    width: 32px;
    height: 20px;

    margin-right: 31px;
  }

  &--fullscreen {
    width: 20px;
    height: 20px;
  }
}

.video__scale {
  position: absolute;
  order: -1;
  top: -45px;
  left: 0;

  display: block;
  min-width: 280px;
  height: 45px;

  background-color: $black-30;
  padding: 20px;
}

.video__bar {
  position: absolute;
  width: 235px;
  height: 3px;

  background-color: $white-30;
}

.video__trek {
  position: absolute;
  top: 16px;
  left: 57px;
  width: 10px;
  height: 10px;
  background: $white;

  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .video {
    margin-bottom: 48px;
  }

  .video__question {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .video__phrase {
    width: 420px;
    margin-bottom: 72px;
  }

  .video__picture {
    background-image: url("../img/video-tablet@1x.jpg");
    width: 648px;
    height: 499px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  .video__control {
    width: 648px;
    height: 93px;
    margin-top: -93px;
    padding-left: 35px;
    padding-right: 37px;
    background-color: $black-60;
  }

  .video__scale {
    background: none;
    order: 0;
    width: 389px;

    top: 25px;
    left: 71px;
  }

  .video__button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    fill: $white;

    &--replay {
      margin-top: -4px;
      margin-right: 473px;
    }

    &--subtitle {
      margin-right: 31px;
    }

    &--fullscreen {
      width: 20px;
      height: 20px;
    }
  }

  .video__bar {
    width: 389px;
    height: 3px;

    background-color: $white-30;
  }

  .video__trek {
    top: 16px;
    left: 137px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    margin-bottom: 15px;
  }

  .video__picture {
    background-image: url("../img/video-desktop@1x.jpg");
    width: 800px;
    height: 500px;
    margin: 0 auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }

  .video__control {
    width: 800px;
  }

  .video__button {
    &--replay {
      margin-right: 624px;
    }
  }

  .video__scale {
    min-width: 540px;
  }

  .video__bar {
    width: 540px;
  }
}
