.advantage {
  background-color: #ffffff;
  text-transform: uppercase;
  line-height: 26px;
}

.advantage__title {
  padding: 0;
  margin: 43px 25px 29px;

  font-size: 18px;
  font-weight: 700;

  text-align: center;
}

.advantage__text {
  margin: 0;
  padding: 0;

  margin-bottom: 10px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}