.photo {
  background-color: #ffffff;
}

.photo__title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 44px;
}

.photo__text {
  margin: 0;
  padding: 0;
  margin: 32px 24px 32px;
  width: 271px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item {
  padding: 22px 21px;
}

.photo__title-photo {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.photo__author {
  font-size: 14px;
  color: #333333;
  text-transform: none;
}

.photo__like {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.photo-preview {
  width: 280px;
  height: 280px;

}