.reasons {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.reasons__item {
  background-color: #efefef;
}

.reasons__title {
  margin: 0;
  padding-top: 43px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reasons__description {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 45px;
}

.reasons__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons__item--city,
.reasons__item--bridge {

  background-color: #81b3d2;
  color: #ffffff;
}
