.social {
  margin: 0;
  padding: 0;
  margin: 0 84px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 156px;
  list-style: none;
}

.social__item {
  display: block;
  margin-bottom: 40px;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social__link {
  font-size: 0;
  text-decoration: none;
}