$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$white-60: rgba(255, 255, 255, 0.6);

$bg-grey: #eeeeee;
$grey: #e5e5e5;
$light-grey: #f2f2f2;
$middle-grey: #e6e6e6;
$dark-grey: #d5d5d5;

$light-grey-blue: #81b3d2;
$middle-grey-blue: #669ec0;
$dark-grey-blue: #5496bd;

$light-brown: #766357;
$brown: #604e43;
$brown-30: rgba(118, 99, 87, 0.3);

$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$dark: #333333;
$dark-30: rgba(51, 51, 51, 0.3);

$tablet-width: 768px;
$desktop-width: 1200px;
